.container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 500px;
  margin-top: auto;
  background: #fff;
  padding-bottom: auto;
}

.text {
  font-family: "Courier New", Courier, monospace;
  color: #900000;
  font-size: 48px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 60px;
  background: #e6e5e5;
  border-radius: 6px;
}

.input input {
  margin-left: 30px;
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #676666;
  font-size: 19px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 50px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #900000;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background-color: #e6e5e5;
  color: #676666;
}
